[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.9b"

[packages]
django = "*"
django-crispy-forms = "*"
django-cors-headers = "*"

[requires]
python_version = "3.6"
