html, body {
    /* Set the height to match that of the viewport. */
    height: 100vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    overflow: hidden;

    /* Remove any browser-default margins. */
    margin: 0;
    padding: 0;

    font-family: "Roboto Slab";
}

.content {
    display: flex;
    width: 100vw;
    height: 95vh;
}

.link {
    text-align: center;
    width: 100vw;
    height: 5vh;
    font-size: 2em;
    font-weight: bolder;

    font-family: "Montserrat"
}

.main {
    height: 100vh;
    width: 85vw;
    margin: 0;
}

.sidebar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100vh;
    width: 15vw;
    padding: 40px 20px;
}

.groups {
    display: flex;
    flex-wrap: wrap;
}

.group {
    min-width: 30px;
    height: 30px;
    border: 1px solid black;
    margin: 10px;
}

h3 {
    margin-top: 2em;
}

.legendNumber {
    display: flex;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right div {
    margin: 10px;
}

.case {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    vertical-align: middle;
    margin: 10px 10px 10px 0;
}